*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px;
    border-radius: 5px;
}

.hidden {
    visibility: hidden;
}


#Tekst-kleur{
    color: black;
    font-size: 20px;
}

#home{
    width: 300px;
    height:75px;
    background-color:gray;
    position: relative;
    }
#red{
    width: 300px;
    height:75px;
    background-color: red;
    position: relative;
}
#orange{
    width: 300px;
    height:75px;
    background-color:orange;
}
#purple{
    width: 300px;
    height:75px;
    background-color: purple;
}
#green{
    width: 300px;
    height:75px;
    background-color: green;
}