*{
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px;
    border-radius: 5px;
}
.Tekst-kleur{
    color: black;
    font-size: 20px;
}

#home{
    width: 300px;
    height:75px;
    background-color:gray;
    position: relative;
    }
#rood{
    width: 300px;
    height:75px;
    background-color: red;
    position: relative;
}
#oranje{
    width: 300px;
    height:75px;
    background-color:orange;
}
#paars{
    width: 300px;
    height:75px;
    background-color: purple;
}
#groen{
    width: 300px;
    height:75px;
    background-color: green;
}